/* @import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap'); */

@font-face {
    font-family: "whitneybook";
    src: url("../fonts/whitney/whitney-book-webfont.woff2") format("woff2"),
      url("../fonts/whitney/whitney-book-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

:root {
    --primary-color: #ec2b27;
    --secondary-color: #342d2a;
    --tertiary-color: #b59153;
    --txtcolor: #ede9d3;
    --txtshadow: #ff7979;
}

* {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    font-family: "whitneybook";
    background-color: var(--secondary-color);
}

#container-geral {
    background-color: var(--secondary-color);
    position: relative;
}

a {
    text-decoration: none;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    background-color: var(--secondary-color);
    padding-inline: 16px;
    z-index: 2;
}


.nav img {
    width: 100px;
    height: auto;
    margin-left: 20px;
}

.nav-list {
    display: flex;
    gap: 20px;
    list-style: none;
    margin-top: 1rem;
    z-index: 3;
}

.nav-list li a {
    text-decoration: none;
    color: var(--primary-color);
}

.nav-list a {
    font-family: "whitneybook";
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--primary-color);
    padding-block: 15px;
}


.hamburger {
    display: none;
    border: none;
    background: none;
    border-top: 3px solid var(--primary-color);
    cursor: pointer;
    margin-right: 15px;
    z-index: 4;
}

.hamburger::after,
.hamburger::before {
    content: " ";
    display: block;
    width: 30px;
    height: 3px;
    background: var(--primary-color);
    margin-top: 5px;
    position: relative;
    transition: 0.3s;
}

.carousel-inner {
    position: relative;
    z-index: 1;
}

#container-carousel {
    padding-left: 0;
    padding-right: 0;
    background-color: var(--secondary-color);
    z-index: 1;
}


#container-texto {
    position: relative;
    z-index: 1;
}


#container-texto p {
    color: var(--txtcolor);

    font-size: 1.1rem;
    font-weight: 900;
    font-family: "whitneybook";
    text-align: center;
    margin: 1rem;
}

.containerDevGeral {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    z-index: 1;
    text-decoration: non;
}

.containerDevGeral a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.carousel-inner {
    height: 600px;
    z-index: 1;
}


.dev {
    padding-top: 2%;
}

.dev p {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 5%;
    color: var(--txtcolor);
    font-size: 1.2rem;
    font-weight: 900;
    font-family: "whitneybook";
}

.dev hr {
    margin-top: 0;
    height: 2px;
    margin-left: 5%;
    margin-right: 5%;
    background-color: var(--txtcolor);

}


.foto-texto {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--txtcolor);
    border-radius: 20px;
    width: 80%;
    margin: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.foto-texto:hover {
    opacity: 90%;
    background-color: var(--txtcolor);
    transform: scale(1.02);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, 
    rgba(0, 0, 0, 0.12) 0px -12px 30px, 
    rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px,
    rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.foto {
    padding: 15px 15px;
}

.descricao p a {
    font-family: "whitneybook";
    color: var(--secondary-color);
    font-weight: 600;
    font-size: 1rem;
    text-align: center;
    margin: 10px;
    text-decoration: none;
    cursor: pointer;

}

.footer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-inline: 5%;
    margin-top: 15px;
    padding-bottom: 15px;
}

.footer p {
    margin: 0;
    padding: 0;
    color: var(--txtcolor);
    font-size: 1rem;
    font-weight: 900;
    font-family: "whitneybook";
}

/* ------------------------------------------------------------------------------------------ */
@media (max-width: 750px) {
    .hamburger {
        display: block;
        z-index: 4;
    }

    .nav-list {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background: var(--secondary-color);
        clip-path: circle(100px at 90% -15%);
        transition: 1s ease-out;

        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        gap: 0;
        margin: 0;

        pointer-events: none;
        z-index: 3;
    }

    .nav-list a {
        font-family: "whitneybook";
        color: var(--secondary-color);
        font-weight: 600;
        font-size: 2rem;
        opacity: 0;
    }

    .nav-list li:nth-child(1) a {
        transition: 0.5s 0.2s;
    }

    .nav-list li:nth-child(2) a {
        transition: 0.5s 0.4s;
    }

    .nav-list li:nth-child(3) a {
        transition: 0.5s 0.6s;
    }

    .nav-list li:nth-child(4) a {
        transition: 0.6s 0.7s;
    }

    .nav-list li:nth-child(5) a {
        transition: 0.7s 0.8s;
    }

    /* Estilos ativos */

    .nav.active .nav-list {
        clip-path: circle(1500px at 90% -15%);
        opacity: 95%;
        pointer-events: all;
        z-index: 3;
    }

    .nav.active .nav-list a {
        opacity: 1;
    }

    .nav.active .hamburger {
        position: fixed;
        top: 26px;
        right: 16px;
        border-top-color: transparent;
        z-index: 4;
    }

    .nav.active .hamburger::before {
        transform: rotate(135deg);

    }

    .nav.active .hamburger::after {
        transform: rotate(-135deg);
        top: -7px;

    }

    .footer {
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding-bottom: 5px;
    }

    .footer-media img {
        margin-block: 15px;
    }

    .foto-texto {
        flex-wrap: wrap;
        height: auto;
        width: auto;
    }

    .descricao p {
        padding-inline: 15px;
        padding-bottom: 15px;
    }

    .foto {
        margin-top: 15px;
    }

}

/* ------------------------------------------------------------------------------------------ */